<div class="contact-us container p-2">
  <h3 class="text-center m-3">Contact us</h3>
  <form
    [formGroup]="form"
    novalidate
    (ngSubmit)="onSubmit()"
    class="m-auto p-3"
  >
    <div class="form-group">
      <label for="name">Full name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="fullName"
        [ngClass]="{
          'is-invalid':
            formControls.fullName.touched && formControls.fullName.invalid
        }"
      />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            formControls.email.touched && formControls.email.invalid
        }"
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone number</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        formControlName="phone"
        [ngClass]="{
          'is-invalid':
            formControls.phone.touched && formControls.phone.invalid
        }"
      />
      <small id="emailHelp" class="form-text text-muted"
        >Enter your phone number in format +380998887766, please</small
      >
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Submit
    </button>
  </form>
</div>
