<div class="container-fluid">
    <header class="glass-block d-flex justify-content-end p-3">
        <fe-menu [menuName]="'Top'"></fe-menu>
    </header>
    <div class="row p-3">
        <aside class="glass-block col-2 mr-3 p-3">
            <fe-menu [menuName]="'Left'"></fe-menu>
        </aside>
        <section class="col p-0">
            <router-outlet></router-outlet>
        </section>
    </div>
    <footer class="glass-block d-flex justify-content-center p-3">
        <fe-menu [menuName]="'Bottom'"></fe-menu>
    </footer>
</div>
