<div class="posts-content p-2">
  <div class="row m-3">
    <h3 class="text-center col-md-6 offset-md-3">Popular posts</h3>
    <div class="col-md-3">
      <button class="btn btn-warning d-block ml-auto" (click)="openModal(postModal)">
        Create post
      </button>
    </div>
  </div>
  <div class="p-4" *ngFor="let post of posts; index as i">
    <fe-post-item [post]="post" ></fe-post-item>
    <div class="post-buttons">
      <div class="d-flex justify-content-end">
        <button
          class="btn btn-primary mr-2"
          (click)="openModal(postModal); changeEditStatus(post, i)"
        >
          Edit
        </button>
        <button
          class="btn btn-danger"
          (click)="openModal(deletePostModal); saveDeletingPostIndex(i)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #postModal>
  <div class="modal-header">
    <h4 *ngIf="!editStatus" class="modal-title pull-left">Create post</h4>
    <h4 *ngIf="editStatus" class="modal-title pull-left">Edit post</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <fe-post-form
      [editStatus]="editStatus"
      [editingPost]="post"
      (formSubmit)="onSubmit($event)"
      (hidePostModal)="modalRef.hide()"
    ></fe-post-form>
  </div>
</ng-template>

<ng-template #deletePostModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete post</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want delete this post?</p>
    <div>
      <button class="btn btn-danger mr-3" (click)="deletePost(); modalRef.hide()">Yes</button>
      <button class="btn btn-primary" (click)="modalRef.hide()">No</button>
    </div>
  </div>
</ng-template>
