<nav [ngClass]="{ 'd-flex flex-wrap': menuName != 'Left' }">
  <p class="m-auto mb-0">{{ menuName }} menu:</p>
  <ul
    [ngClass]="{
      'd-flex flex-wrap justify-content-around': menuName != 'Left'
    }"
    class="p-0 mb-0 m-auto"
  >
    <li class="nav-item ml-2">
      <a [routerLink]="['/']" class="text-body">Home</a>
    </li>
    <li class="nav-item ml-2">
      <a [routerLink]="['/posts']" class="text-body">Posts</a>
    </li>
    <li class="nav-item ml-2">
      <a [routerLink]="['/gallery']" class="text-body">Gallery</a>
    </li>
    <li class="nav-item ml-2">
      <a [routerLink]="['/contact-us']" class="text-body">Contact us</a>
    </li>
  </ul>
</nav>
