* {
  font-family: "Nunito", sans-serif;
}

.glass-block {
  background: rgba(115, 119, 231, 0.1);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.46);
  border-radius: 7px;
  box-shadow: 5px 5px 5px #0000000d;
}
